#a{
    color:rgba(0, 0, 0, 0.877);
}
#b{
    color:rgba(0, 0, 0, 0.877);
}
#c{
    color:rgba(0, 0, 0, 0.877);
}
#ab{
    max-width: 960px;
}
#ac{
    max-width: 960px;
}
#bc{
    max-width: 960px;
}
body{
    background-color: rgba(255, 251, 0, 0.822);
}
a{
    color: rgb(25, 0, 255);
    font-size: large;
    margin-left: 2px;
}

.error {
    border: 2px red solid !important;
}

.error-message {
    color: red;
    font-size: 20px;
    display: inline;
}